/* styles.css */

@font-face {
    font-family: "Comfortaa Bold";
    src: url("assets/fonts/comfortaa-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa Medium";
    src: url("assets/fonts/comfortaa-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: "Comfortaa Medium", sans-serif;
    font-size: 1.2em;
}

.test {
    color: white;
}

h1,
h2 {
    font-family: "Comfortaa Bold", sans-serif;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}

canvas {
    display: block;
}

.hidden {
    display: none !important;
}
